sfin_auth.json
sfin_last.json
config.yml

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

vendor/
.env
sqlc/
.vscode/

*_templ.go
*_templ.txt

*.tmp
tmp/
tailwind/node_modules
.DS_Store
assets/css/main.css
db/data
